<p id="notice"><%= notice %></p>
<br><br>
    <div class="container">
					<div class="clr"></div>
			

			<div class="section">
				<div class="header">
					<p class="subtitle">User Profile &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				</div>
				<div class="box products">
					<div class="box">
						<table cellpadding="0" cellspacing="0" border="0" width="100%" class="table table-striped"> 
	<%= form_for Profile.new do |f| %>
 

							<tr>
								<th style="width:150px;">Name:</th>
								<td class="info"><%= f.text_field :name %></td>
							</tr>
							<tr>
								<th style="width: 150px;">College (Year):</th>
								<td class="info">Grinnell College (<%= f.number_field :year %>)</td>
							</tr>
							<tr>
								<th style="width:150px;">Cell:</th>
								<td class="info"><%= f.text_field :cell %></td>
							</tr>
							<tr>
								<th style="width: 150px;">About Me:</th>
								<td class="info"><%= f.text_area :aboutme %></td>
							</tr>							
							<tr>
								<th style="width:150px;">Music:</th>
								<td class="info"><%= f.text_area :music %></td>
							</tr>
							<tr>
								<th style="width: 150px;">Interests:</th>
								<td class="info"><%= f.text_area :interests %></td>
							</tr>					
							<tr class="cap ctrls">
								<td colspan="2" align="right">
								
									
								
								</td>
							</tr>
						</table>
						
 <button class="btn btn-primary">&nbsp&nbspUpdate Profile&nbsp&nbsp</button>
    <% end %>

					</div>
		


			
 

			
			
