			<div class="section">
				<div class="header">
					<p class="subtitle">User Profile 

						<right><% if signed_in? %>   <% if can? :edit, profile  %><%= link_to "Edit Profile", edit_profile_path(profile), :class => "btn btn-primary" %></p><% end %><% end %></right>
				</div>
	
						<table class="table table-striped">
							<tr>
								<th>Name:</th>
								<td><%= profile.name %></td>
							</tr>
							<tr>
								<th >College (Year):</th>
								<td >Grinnell College (<%= profile.year %>)</td>
							</tr>
							<tr>
								<th style="width:150px;">Cell:</th>
								<td class="info"><%= profile.cell %></td>
							</tr>
							<tr>
								<th style="width: 150px;">About Me:</th>
								<td class="info"><%= profile.aboutme %></td>
							</tr>							
							<tr>
								<th style="width:150px;">Music:</th>
								<td class="info"><%= profile.music %></td>
							</tr>
							<tr>
								<th style="width: 150px;">Interests:</th>
								<td class="info"><%= profile.interests %></td>
							</tr>					
							<tr class="cap ctrls">
								<td colspan="2" align="right">
								
									
								
								</td>
							</tr>
						</table>
					</div>