<p id="notice"><%= notice %></p>

<p>
  <strong>Fast:</strong>
  <%= @request2.fast_id %>
</p>

<p>
  <strong>:</strong>
  <%= @request2. %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request2.phone %>
</p>

<p>
  <strong>Accept:</strong>
  <%= @request2.accept %>
</p>

<p>
  <strong>User email:</strong>
  <%= @request2.user_email %>
</p>

<p>
  <strong>Fast user email,:</strong>
  <%= @request2.fast_user_email, %>
</p>

<p>
  <strong>User:</strong>
  <%= @request2.user_id %>
</p>

<%= link_to 'Edit', edit_request2_path(@request2) %> |
<%= link_to 'Back', request2s_path %>
