<p id="notice"><%= notice %></p>

<br><br>
<div class="container-fluid">

<% if @profiles.any? %>
<%= render @profiles %>
<% else %>
<% if @user.id == current_user.id %>
<%= render :partial => "profiles/new" %>
<% else %>
<%= render :partial => "profiles/nothin" %>
<% end %>
<% end %>

<% unless @rides.nil? %>	
Driver's Rides:	
  <%= render @rides %>
 <% else %>
 Driver does not have any rides. 
 <% end %>

	
