<h1>Editing request</h1>
<%= @request.id %>
<%= @request.ride_id %>
<%= @request.user_email %>



<%= link_to 'Accept', ride_request_path(@ride, request), :method => :put %>
<%= link_to 'Reject', ride_request_path(@ride, request), :method => :delete %>


