<p id="notice"><%= notice %></p>

<p>
  <b>Ride:</b>
  <%= @request.ride_id %>
</p>
<p>
  <b>User:</b>
  <%= @request.user_id %>
</p>
<p>
  <b>Email:</b>
  <%= @request.user_email %>
</p>
<p>
<% if @request.notes.any? %>
  <b>Notes:</b>
  <%= @request.notes %>
<% else %>
<% end %>
</p>
<p>
<% if @request.phone.any? %>
  <b>Phone:</b>
  <%= @request.phone %>
</p>
<% else %>
<% end %>


<%= link_to 'Accept', ride_request_path, :method => :put %> |
<%= link_to 'Reject', ride_request_path, :method => :destroy %>
