<br>
<br>
<center>
<p id="notice"><%= notice %></p>

<p class="heading">Sign in</p>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="fields">
    <%= f.text_field :email, :placeholder => "Email", :required => true, :autofocus => true %><br>
    <%= f.password_field :password, :placeholder => "Password", :required => true %><br>
  </div>
<button class="btn btn-primary">&nbsp&nbspSign In&nbsp&nbsp</button>
<% end %>

<%= render "devise/shared/links" %>
</center>