<% if mobile_device? %>
<html>
  <head>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
          <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
  <title>KevPool</title> 
   <br>
   <body>
    <div class="container-fluid">
    <script>
      $(document).ready(function () {
        $("#myTextField3").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
      });
       $(document).ready(function () {
        $("#myTextField4").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
      });
       

</script>
<%= simple_form_for(@ride) do |f| %>
  <% if @ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ride.errors.count, "error") %> prohibited this Ride from being saved:</h2>

      <ul>
      <% @ride.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
<%= f.input :Starting_From, :input_html =>{:id => 'addressA'} %>
    <%= f.input :Going_to, :input_html =>{:id => 'addressB'} %> </div>
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>
        <script>
            var autocompleteA = new google.maps.places.Autocomplete($("#addressA")[0], {});

            google.maps.event.addListener(autocompleteA, 'place_changed', function() {
                var place = autocompleteA.getPlace();
                console.log(place.address_components);
            });

            var autocompleteB = new google.maps.places.Autocomplete($("#addressB")[0], {});

            google.maps.event.addListener(autocompleteB, 'place_changed', function() {
                var place = autocompleteB.getPlace();
                console.log(place.address_components);
            });
        </script>

    <div class="fields">
    <%= f.label :depart, "* Depart Date" %>
    <%= f.text_field :depart, :id => "myTextField3" %><br>

  </div>
      <%= f.input :depart_time%>
      <div class="fields">
                <%= f.label :return, "Return Date" %>
    <%= f.text_field :return, :id => "myTextField4" %><br> </div>
        <div class="inputs">
      <%= f.input :return_time %>
    <%= f.input :Price %>
    <%= f.input :Seats %>
    <%= f.label :Notes %>
    <%= f.text_area :Notes %>
<span class="help-block">Hint: List Popular cities you are going through to get to your destination</span>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
</div>
<% else %>
<html>
  <head>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
          <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
  <title>KevPool</title> 
   <br>
   <body>
    <div class="container" %>
    <script>
      $(document).ready(function () {
        $("#myTextField").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
      });
       $(document).ready(function () {
        $("#myTextField2").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
      });
       

</script>
<%= simple_form_for(@ride) do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
<%= f.input :Starting_From, :input_html =>{:id => 'addressA'} %>
    <%= f.input :Going_to, :input_html =>{:id => 'addressB'} %> </div>
            <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>
        <script>
            var autocompleteA = new google.maps.places.Autocomplete($("#addressA")[0], {});

            google.maps.event.addListener(autocompleteA, 'place_changed', function() {
                var place = autocompleteA.getPlace();
                console.log(place.address_components);
            });

            var autocompleteB = new google.maps.places.Autocomplete($("#addressB")[0], {});

            google.maps.event.addListener(autocompleteB, 'place_changed', function() {
                var place = autocompleteB.getPlace();
                console.log(place.address_components);
            });
        </script>

  <div class="fields">
    <%= f.label :depart, "* Depart Date" %>
    <%= f.text_field :depart, :id => "myTextField" %><br>

    <div class="inputs">
      <%= f.input :depart_time %>
    </div>
      <div class="fields">
                <%= f.label :return, "Return Date" %>
    <%= f.text_field :return, :id => "myTextField2" %><br> </div>
        <div class="inputs">
      <%= f.input :return_time %>
    <%= f.input :Price %>
    <%= f.input :Seats %>
    <%= f.label :Notes %>
    <%= f.text_area :Notes %>

  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>

<% end %>