<html>
  <head>
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
          <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
  <title>KevPool</title> 
   <br>
   <body>
<% if mobile_device? %>
<div class="container-fluid">
    <script>
      $(document).ready(function () {
        $("#myTextField").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
      });
      $('tr').click( function() {
    window.location = $(this).find('a').attr('href');
}).hover( function() {
    $(this).toggleClass('hover');
});
</script>
<meta name="viewport" content="width=450">
    <form>
    <p id="notice"><%= notice %></p>      
<%= search_form_for @search do |f| %>
  <div class="field">
      
    <%= f.text_field :Starting_From_or_Notes_cont, :id => 'addressA', :placeholder => 'From where?', :hint => 'To view rides to specific states, write in their state code (i.e. CA for California)'%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
   
    <%= f.text_field :Going_to_cont, :id => 'addressB', :placeholder => 'Where to?'  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>
        <script>
            var autocompleteA = new google.maps.places.Autocomplete($("#addressA")[0], {});

            google.maps.event.addListener(autocompleteA, 'place_changed', function() {
                var place = autocompleteA.getPlace();
                console.log(place.address_components);
            });

            var autocompleteB = new google.maps.places.Autocomplete($("#addressB")[0], {});

            google.maps.event.addListener(autocompleteB, 'place_changed', function() {
                var place = autocompleteB.getPlace();
                console.log(place.address_components);
            });
        </script>
 
   <%= f.text_field :depart_gteq, :id => "myTextField", :placeholder => 'When?' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<br>
<button class="btn btn-success">&nbsp&nbspSearch&nbsp&nbsp</button></right></div>
<% end %>

    </form>
<table class="table table">

    <% @rides.each do |ride| %>
      <tr>
      <td><h6><%= ride.depart.to_s(:long) %></h6><h5><%= ride.Starting_From %> to <%= ride.Going_to %></h5><h6>$<%= ride.Price %> per seat | <%= ride.Seats - ride.requests.where(:accept => "t").count %> seats available<br>
        <font color="red"><% if signed_in? %><% if ride.user_id == current_user.id %><% if ride.requests.where(:accept => "f").any? %> You have new requests! <% end %><% end %></font><% end %>
            <br><%= link_to 'Show', ride, :class => "btn btn-warning" %>
    <% if can? :update, ride  %>
      <%= link_to 'Edit', edit_ride_path(ride), :class => "btn btn-warning" %>
                <% end %>
<% if can? :destroy, ride  %>
<%= link_to 'Destroy', ride, :class => "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
 </tr>
        <% end %>
     
      
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Ride', new_ride_path %>
<%= link_to 'See All Rides', rides_path %>

<% else %>
        <div class="container">
    <script>
      $(document).ready(function () {
        $("#myTextField").datepicker({ minDate: 0, dateFormat: 'yy-mm-dd' });
      });
</script>
    <form>
    <p id="notice"><%= notice %></p> 
    <center>      
<%= search_form_for @search do |f| %>
  <div class="field">
      
    <%= f.text_field :Starting_From_cont, :id => 'addressA', :placeholder => 'From where?', :hint =>'To view rides to specific states, write in their state code (i.e. CA for California)'%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

   
    <%= f.text_field :Going_to_cont, :id => 'addressB', :placeholder => 'Where to?'  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=en-AU"></script>
        <script>
            var autocompleteA = new google.maps.places.Autocomplete($("#addressA")[0], {});

            google.maps.event.addListener(autocompleteA, 'place_changed', function() {
                var place = autocompleteA.getPlace();
                console.log(place.address_components);
            });

            var autocompleteB = new google.maps.places.Autocomplete($("#addressB")[0], {});

            google.maps.event.addListener(autocompleteB, 'place_changed', function() {
                var place = autocompleteB.getPlace();
                console.log(place.address_components);
            });
        </script>
 
   <%= f.text_field :depart_gteq, :id => "myTextField", :placeholder => 'When?' %>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

<button class="btn btn-success">&nbsp&nbspSearch&nbsp&nbsp</button></right></div>
<% end %>

    </form>
</center>
  <section id="no-more-tables">
<table class="table table">
<% if @rides.nil? %>
No rides found
<% else %>
    <% @rides.each do |ride| %>
      <tr>
      <td><h6><%= ride.depart.to_s(:long) %></h6><h5><%= ride.Starting_From %> to <%= ride.Going_to %></h5><h6>$<%= ride.Price %> per seat | <%= ride.Seats - ride.requests.where(:accept => "t").count %> seats available<br> </td><td><h6>&nbsp;&nbsp;&nbsp;&nbsp;<font color="red"><% if signed_in? %><% if ride.user_id == current_user.id %><% if ride.requests.where(:accept => "f").any? %> You have new requests! <% end %><% end %></font><br><% end %>
                        <br>&nbsp&nbsp&nbsp&nbsp<%= link_to 'Show', ride, :class => "btn btn-warning" %>
    <% if can? :update, ride  %>
      <%= link_to 'Edit', edit_ride_path(ride), :class => "btn btn-warning" %>
                <% end %>
<% if can? :destroy, ride  %>
<%= link_to 'Destroy', ride, :class => "btn btn-warning", method: :delete, data: { confirm: 'Are you sure?' } %>
    
        </td>
 </tr>
        <% end %>
     
      
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Ride', new_ride_path %>
<%= link_to 'See All Rides', rides_path %>

<% end %>

<% end %>

