<% if mobile_device? %>
<html>
    <div class="container-fluid">
<p id="notice"><%= notice %></p>

<table class="table table-condensed" >
    
      <tr style="background-color:#f5f5f5;">
      <td ><strong><%= @ride.Starting_From %> to <%= @ride.Going_to %></strong><br>
        Departs <%= @ride.depart.to_s(:long) %> at <%= @ride.depart_time.strftime("%I:%m %p") %> <% unless @ride.return.nil? %> <br>Returns <%= @ride.return %> at <%= @ride.return_time.strftime("%I:%m %p") %> <% end %><br>$ <%= @ride.Price %> per seat | <%= @ride.Seats - @ride.requests.where(:accept => "t").count %> seats available <br> <%= @ride.Notes %><% if signed_in? %><% if @ride.user_id == @current_user.id %> 
  <br>
<%= link_to 'Delete Ride', ride_path(@ride), :class => "btn btn-success", :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Edit Ride', edit_ride_path(@ride), :class => "btn btn-success" %>
</td><tr><td>

   <% if @ride.requests.any? %>
<%= render :partial =>"/requests/request_list", :locals=>{:requests=> @ride.requests.where(:accept => "t")} %>
<%= render :partial =>"request_list", :locals=>{:requests=> @ride.requests.where(:accept => "f")} %>
<% else %>
<img src="http://maps.google.com/maps/api/staticmap?center=<%= @ride.Starting_From %>&zoom=auto&size=300x300&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= @ride.Starting_From %>&markers=color:purple|label:B|<%= @ride.Going_to %>" alt="Static, Marked Map of <%= @ride.Starting_From %> and <%= @ride.Going_to %> with no Center and Zoom"></img>
<% end %>
  <% elsif  @ride.requests.where(:user_id => current_user.id).any? %>
  <img src="http://maps.google.com/maps/api/staticmap?center=<%= @ride.Starting_From %>&zoom=auto&size=300x300&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= @ride.Starting_From %>&markers=color:purple|label:B|<%= @ride.Going_to %>" alt="Static, Marked Map of <%= @ride.Starting_From %> and <%= @ride.Going_to %> with no Center and Zoom"></img><br><br></div><center>
  <button class="btn btn-success disabled">&nbsp&nbspRide Requested&nbsp&nbsp</button></center>
  <% elsif @ride.Seats - @ride.requests.where(:accept => "t").count == 0 %>
  Ride is Full
  <% else %>
  <%= simple_form_for([@ride, @ride.requests.build]) do |f|  %>
<div class="input">
    <%= f.input :notes %>
    <%= f.input :phone %>
  </div>
<button class="btn btn-success">&nbsp&nbspRequest Ride&nbsp&nbsp</button><% end %><% end %>

<% else %>
<%= simple_form_for([@ride, @ride.requests.build]) do |f|  %>
<div class="input">
    <%= f.input :notes %>
    <%= f.input :phone %>
  </div>
<button class="btn btn-success" onclick="displayDate" id="request">&nbsp&nbspRequest Ride&nbsp&nbsp</button><% end %><% end %>


</center>
<tr><th>
<%= link_to 'Driver Profile', user_path(@ride.user_id), :method => :get %></th></tr>
<td>
</table></td>

        

      </tr> 

      </table>

<%= link_to 'Back', rides_path %><br><br>






<% else %>
<html>
    <div class="container">
<p id="notice"><%= notice %></p>



<table class="table table-condensed" >

     
      <tr style="background-color:#f5f5f5;">
      <td ><strong><%= @ride.Starting_From %> to <%= @ride.Going_to %></strong><br>
        Departs <%= @ride.depart.to_s(:long) %> at <%= @ride.depart_time.strftime("%I:%m %p") %> <% unless @ride.return.nil? %> <br>Returns <%= @ride.return %> at <%= @ride.return_time.strftime("%I:%m %p") %> <% end %><br><i> <%= @ride.Notes %></i></td>
        <td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp$ <%= @ride.Price %> per seat | <%= @ride.Seats - @ride.requests.where(:accept => "t").count %> seats available <br>
 <% if signed_in? %><% if @ride.user_id == @current_user.id %> <br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<%= link_to 'Delete Ride', ride_path(@ride), :class => "btn btn-success", :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Edit Ride', edit_ride_path(@ride), :class => "btn btn-success" %></td></tr>
<% end %><% end %>

    </tr>
      <tr><td><img src="http://maps.google.com/maps/api/staticmap?center=<%= @ride.Starting_From %>&zoom=auto&size=700x350&maptype=roadmap&sensor=false&markers=color:blue|label:A|<%= @ride.Starting_From %>&markers=color:purple|label:B|<%= @ride.Going_to %>" alt="Static, Marked Map of <%= @ride.Starting_From %> and <%= @ride.Going_to %> with no Center and Zoom"></img></td><td><table style="background-color:white;">

        <tr>
        <td><center>
<% if signed_in? %>
  <% if @ride.user_id == @current_user.id %> 
  <% if @ride.requests.any? %>
<%= render :partial =>"/requests/request_list", :locals=>{:requests=> @ride.requests.where(:accept => "t")} %>
<%= render :partial =>"request_list", :locals=>{:requests=> @ride.requests.where(:accept => "f")} %>
<% else %>
No requests have been made for this ride.
<% end %>
  <% elsif  @ride.requests.where(:user_id => current_user.id).any? %>
  <button class="btn btn-success disabled">&nbsp&nbspRide Requested&nbsp&nbsp</button>
  <% elsif @ride.Seats - @ride.requests.where(:accept => "t").count == 0 %>
  Ride is Full
  <% else %>
  <%= simple_form_for([@ride, @ride.requests.build]) do |f|  %>
<div class="input">
    <%= f.input :notes %>
    <%= f.input :phone %>
  </div>
<center>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class="btn btn-success" onclick="displayDate" id="request">&nbsp&nbspRequest Ride&nbsp&nbsp</button></center><% end %></form><% end %>

<% else %>
<%= simple_form_for([@ride, @ride.requests.build]) do |f|  %>
<div class="input">
    <%= f.input :notes %>
    <%= f.input :phone %>
  </div>
<center>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
<button class="btn btn-success" onclick="displayDate" id="request">&nbsp&nbspRequest Ride&nbsp&nbsp</button></center><% end %></form><% end %>
</center>
<tr><th>
<%= link_to 'Driver Profile', user_path(@ride.user_id), :method => :get %></th></tr>
<td>
</table></td>

        

      </tr> 

      </table>
 
<%= link_to 'Back', rides_path %><br><br>


<% end %>